<% if flash[:info] %>
<%= flash[:info] %>
<% end %>

<% if @products.present? %>
<% @products.each do |e| %>
<p>
    <%= form_tag cart_items_path, method: :post do %>
    <%= e.name %>
    <%= e.price %>円
    <%= hidden_field_tag :product_id, e.id%>
    数量：<%= select_tag(:qty, options_for_select((1..30)))%>
    <%= submit_tag'カートへ追加する'%>
    <% end %>
</p>
<% end %>
<% end %>
<p><%= link_to 'カートの中身を見る', cart_path(current_cart.id) %></p>

<p><%= link_to '商品一覧', products_path %></p>
