<h2>新商品登録</h2>
<%= form_for @product do |form| %>
 <%= form.label :name, "商品名" %>
 <%= form.text_field :name %>
 <%= form.label :price, "価格" %>
 <%= form.text_field :price %>
 <%= form.submit "登録" %>
<% end %>

<%= link_to 'Back', root_path %>
